In [3]:
import pandas as pd

# Ex 1

In [5]:
# Exercício de Criação: Crie uma Pandas Series contendo os números de 1 a 10.

s1 = pd.Series([1,2,3,4,5,6,7,8,9,10])
s1

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64

# Ex 2

In [ ]:
# Exercício de Acesso: Acesse o terceiro elemento de uma Pandas Series e imprima seu valor.

s1 = pd.Series([1,2,3,4,5,6,7,8,9,10])
s1

# Ex 3

In [6]:
# Exercício de Soma: Some duas Pandas Series contendo os números de 1 a 5 e os números de 6 a 10, respectivamente.

s1 = pd.Series([1,2,3,4,5])
s2 = pd.Series([6,7,8,9,10])

soma = s1 + s2
print("Soma:")
print(soma)

Soma:
0     7
1     9
2    11
3    13
4    15
dtype: int64

# Ex 4

In [ ]:
# Exercício de Filtragem: Crie uma Pandas Series contendo os números de 1 a 10 e exiba apenas os valores maiores que 5.

s1 = pd.Series([1,2,3,4,5,6,7,8,9,10])

# Ex 5

In [ ]:
# Exercício de Estatísticas: Calcule a média e o desvio padrão de uma Pandas Series contendo os números de 1 a 10.

s1 = pd.Series([1,2,3,4,5,6,7,8,9,10])

# Ex 6

In [15]:
# Exercício de Concatenação: Concatene duas Pandas Series contendo os números de 1 a 5 e 6 a 10, respectivamente, em uma única Series.

data = {'A': [1,2,3,4,5], 'B': [6,7,8,9,10]}
df = pd.DataFrame(data)

df['C']= df['A']+ df['B']
df

   A   B   C
0  1   6   7
1  2   7   9
2  3   8  11
3  4   9  13
4  5  10  15

# Ex 7

In [17]:
# Exercício de Subtração: Subtraia uma Pandas Series contendo os números de 1 a 10 por uma outra Series contendo os números de 10 a 1.

s1 = pd.Series([1,2,3,4,5,6,7,8,9,10])
s2 = pd.Series([10,9,8,7,6,5,4,3,2,1])

sub = s1 - s2
print("\nSubtração:")
print(sub)

Subtração:
0   -9
1   -7
2   -5
3   -3
4   -1
5    1
6    3
7    5
8    7
9    9
dtype: int64

# Ex 8

In [ ]:
# Exercício de Ordenação: Ordene uma Pandas Series contendo os números de 1 a 10 em ordem decrescente.

# Ex 9

In [18]:
# Exercício de Verificação de Valores Únicos: Verifique se há valores duplicados em uma Pandas Series contendo os números de 1 a 10.

# Ex 10

In [ ]:
# Exercício de Slicing: Utilize slicing para selecionar os elementos de uma Pandas Series do terceiro ao sétimo elemento